body, html {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #222222;
}

.wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 36px;
}

a {
	color: #0066CC;
	text-decoration: none;
	border-bottom: 1px solid #0066CC;
}

.message {
    padding: 5px;
    border: 2px solid #666666;
}

/**
 * Header
 */

.header {
    background-color: #008FB8;   
}

.header a {
    border: none;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #f5EEDF;
    text-transform: lowercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header h1 a {
    color: #f5EEDF;
}

.header h1 span {
    color: #FFFFFF;
}

/**
 * Footer
 */

.footer {
    text-align: center;
    margin-top:100px;
    color: #99999;
}

.footer a {
    color: #999999;
    border-color: #999999;
}