<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>NewsAnalyzr - Analyzing the news and those who make it</title>
	
	<link type="text/css" href="/media/css/style.css" id="primary-css" rel="stylesheet" />
	
</head>
<body>

	<div class="header">
		
		<div class="wrap">
			
			<h1><a href="/">News<span>Analyzr</span></a></h1>
			
		</div>
		
	</div>
	
	<div class="wrap">
		{% block content %}{% endblock %}
	</div>
	
	<div class="wrap">
		
		<div class="footer">
			
			<p>A project by <a href="http://maxcutler.com/">Max</a>, <a href="http://danielbachhuber.com/">Daniel</a>, <a href="http://marc.lavalee.name">Marc</a>, <a href="http://laurenrabaino.com">Lauren</a>, and <a href="http://greglinch.com/">Greg</a>.</p>
			
		</div>
		
	</div>

</body>
</html>
