<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>NewsAnalyzr - Analyzing the news and those who make it</title>
	
	<link type="text/css" href="/media/css/style.css" id="primary-css" rel="stylesheet" />
	
</head>
<body>

	<div class="wrap">
		
		<div class="main" id="home-splash">
			
			<h1>News Analyzr</h1>
			<p class="description">Analyzing the news and those who make it</p>
			<p class="contact">Say <a href="mailto:hello@newsanalyzr.com">hello@newsanalyzr.com</a></p>
			
		</div>
		
	</div>

</body>
</html>
