<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>NewsAnalyzr - Analyzing the news and those who make it</title>
	
	<link type="text/css" href="/media/css/style.css" id="primary-css" rel="stylesheet" />
	
</head>
<body>

	<div class="wrap">
		
		<div class="header">
			
			<h1>News Analyzr</h1>
			<div class="description">Analyzing the news and those who make it</div>
			<p class="contact">Say <a href="mailto:hello@newsanalyzr.com">hello@newsanalyzr.com</a></p>
			
		</div>
		
	</div>
	
	<div class="wrap">
		<div class="main">
		{% if messages %}
			{% for message in messages %}
			<div class="message {{ message.type }}">
				{{ message.text }}
			</div>	
			{% endfor %}
			
		{% endif %}
		{% block content %}{% endblock %}
		</div>
	</div>
	
	<div class="wrap">
		
		<div class="footer">
			
			
			
		</div>
		
	</div>

</body>
</html>
