{% extends "base.html" %}

{% block content %}
<div class="main" id="homepage">

<h3>Recently Updated Organizations</h3>
{% if recently_updated_orgs %}
<ul>
	{% for recently_updated_org in recently_updated_orgs %}
	<li><a href="{{ recently_updated_org.get_absolute_url }}">{{ recently_updated_org.name }}</a></li>
	{% endfor %}
</ul>
{% else %}
<div class="message alert">No organizations have updated recently</div>
{% endif %}

<h3>Largest Parent Companies</h3>
<ul>
    {% for parent in largest_parents %}
    <li><a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a> ({{ parent.child_count }})</li>
    {% endfor %}
</ul>

</div>
{% endblock %}