{% extends "base.html" %}

{% block content %}
<div class="main" id="organization_detailed">

<div class="page">
{% if organization %}
<div class="entry">

	<h2>{{ organization.name }}</h2>
	
	{% if organization.description %}
	<p class="description">{{ organization.description|safe }}</p>
	{% else %}
	<div class="message edit">{{ organization.name }} doesn't have a description yet. Fill out fields and we'll automagically put one together</div>
	{% endif %}
	
	<div class="meta">
		<p class="homepage"><label>Homepage:</label> {% if organization.homepage %}<a href="{{ organization.homepage }}">{{ organization.homepage }}</a>{% else %}(None listed){% endif %}</p>

		{% for parent in organization.parents.all %}
		{% if forloop.first %}<p class="parents"><label>Parent{{ organization.parents.count|pluralize }}:</label> {% endif %}<a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a>{% if not forloop.last %}, {% else %}</p>{% endif %}
		{% endfor %}

        {% for child in organization.children.all %}
        {% if forloop.first %}<p class="parents"><label>Children ({{ organization.children.count }}):</label> {% endif %}<a href="{{ child.get_absolute_url }}">{{ child.name }}</a>{% if not forloop.last %}, {% else %}</p>{% endif %}
        {% endfor %}

        {% if organization.product_set.count > 0 %}
            <h3>Products</h3>
            <ul>
            {% for product in organization.product_set.all %}
                <li>{{ product.name }} - {{ product.product_type }} - <a href="{{ product.homepage }}">{{ product.homepage }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
	</div>

    {% if organization.children.count > 0 %}
    <img src="http://maps.google.com/maps/api/staticmap?size=600x500&maptype=roadmap\
&markers=size:mid|color:red|{% for child in organization.children.all %}{% if child.dbpedia and child.dbpedia.headquarters and child.dbpedia.headquarters.loc_lat %}{{ child.dbpedia.headquarters.loc_lat }},{{ child.dbpedia.headquarters.loc_long }}{% if not forloop.last %}|{% endif %}{% endif %}{% endfor %}&sensor=false">
    {% endif %}

</div>
{% else %}
<div class="message error">There's no organization at this address</div>
{% endif %}
</div>

</div>
{% endblock %}